body {
  font-family: "Klavika", "Exo2", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
